* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
#app {
    width: 80vw;
    max-width: 800px;

    height: 50vh;
    max-height: 500px;

    margin: auto;

    position: relative;
}

#app img {
    opacity: 0;
    position: absolute;

    width: 100%;
    height: 100%;

    object-fit: cover;
    transition: opacity 700ms;
}

#app img.selected {
    opacity: 1;
}
